[Unit]
Description=Droid mount for /vendor
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sde47
Where=/vendor
Type=ext4
Options=ro,barrier=1
TimeoutSec=10

[Install]
WantedBy=local-fs.target

